Package: libncurses-devel
Version: 6.0-1
Source: ncurses
Priority: required
Depends: libc-devel, libncurses (>= 6.0-1), ncurses-base (>= 6.0-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: shared libraries for terminal handling (development files)
Architecture: amd64
Section: devel
