Package: libncurses-devel
Version: 6.0-0
Source: ncurses
Priority: required
Depends: libc-devel, libncurses (>= 6.0-0), ncurses-base (>= 6.0-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: shared libraries for terminal handling (development files)
Architecture: amd64
Section: devel
