Package: libblkid
Version: 2.29-1
Source: util-linux
Priority: required
Depends: libc, libuuid
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: block device id library
Architecture: amd64
Section: libs
