Package: libx11-ice-devel
Version: 1.0.9-1
Source: libICE
Priority: optional
Depends: libc-devel
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 Inter-Client Exchange library (development files)
Architecture: amd64
Section: devel
