Package: kafka
Version: 1.0.0-1
Source: kafka
Priority: optional
Depends: libc, jre8, bash
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: High-performance distributed log broker
Architecture: all
Section: java
