Package: libecpg
Version: 9.6.1-1
Source: postgresql
Priority: optional
Depends: libc, libpq (>= 9.6.1-1), libpgtypes (>= 9.6.1-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: object-relational SQL database (libecpg library)
Architecture: amd64
Section: libs
