Package: libecpg
Version: 9.5.3-0
Source: postgresql
Priority: optional
Depends: libc, libpq (>= 9.5.3-0), libpgtypes (>= 9.5.3-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: object-relational SQL database (libecpg library)
Architecture: amd64
Section: libs
