Package: util-linux
Version: 2.29-1
Source: util-linux
Priority: required
Depends: libc, libblkid (>= 2.29-1), libfdisk (>= 2.29-1), libmount (>= 2.29-1), libsmartcols (>= 2.29-1), libuuid (>= 2.29-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Miscellaneous system utilities
Architecture: amd64
Section: utils
