Package: libx11-xi-devel
Version: 1.7.4-0
Source: libXi
Priority: optional
Depends: libc-devel, libx11-xext-devel, libx11-devel, libx11-xcb-devel, libx11-xau-devel, libx11-xi (>= 1.7.4-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 Input extension library (development files)
Architecture: amd64
Section: devel
