Package: libxslt
Version: 1.1.29-1
Source: libxslt
Priority: optional
Depends: libc, libxml2
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: XSLT 1.0 processing library - runtime library
Architecture: amd64
Section: libs
