Package: libpq
Version: 9.6.1-1
Source: postgresql
Priority: optional
Depends: libc, libssl
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: object-relational SQL database (libpq library)
Architecture: amd64
Section: libs
