Package: libx11-xcb-devel
Version: 1.11.1-0
Source: libxcb
Priority: optional
Depends: libc-devel, libx11-xau-devel, libx11-xcb (>= 1.11.1-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X Window System XCB protocol (development files)
Architecture: amd64
Section: devel
