Package: png-utils
Version: 1.6.26-1
Source: libpng
Priority: optional
Depends: libc, libpng (>= 1.6.26-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: PNG library (utilities)
Architecture: amd64
Section: utils
