Package: libx11-xres
Version: 1.0.7-1
Source: libXres
Priority: optional
Depends: libc, libx11-xext, libx11, libx11-xcb, libx11-xau
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 Resource extension library
Architecture: amd64
Section: libs
