Package: libmount
Version: 2.27-0
Source: util-linux
Priority: required
Depends: libc, libblkid, libuuid
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: device mounting library
Architecture: amd64
Section: libs
