Package: hbase
Version: 1.2.4-1
Source: hbase
Priority: optional
Depends: libc, jre8, bash
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Distributed, scalable, big data store
Architecture: all
Section: java
