Package: libcups
Version: 2.2.1-1
Source: cups
Priority: extra
Depends: libc, libz
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Common Unix Printing System (libraries)
Architecture: amd64
Section: libs
