Package: locale-utils
Version: 2.24-1
Source: libc
Priority: important
Depends: libc
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: GNU locale utils
Architecture: amd64
Section: utils
