Package: oracle-server-jre-8
Version: 8u60-0
Source: java
Priority: optional
Depends: libc, libgcc
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Java 8 Server JRE + Unlimited Strength Crypto
Architecture: amd64
Section: devel
