Package: libx11-xvmc
Version: 1.0.9-0
Source: libXvMC
Priority: optional
Depends: libc, libx11-xv, libx11-xext, libx11, libx11-xcb, libx11-xau
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 Video extension library
Architecture: amd64
Section: libs
