Package: libmount-devel
Version: 2.29-1
Source: util-linux
Priority: optional
Depends: libc-devel, libblkid-devel, libuuid-devel, libmount (>= 2.29-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: device mounting library (development files)
Architecture: amd64
Section: devel
