Package: libspdylay-devel
Version: 1.4.0-1
Source: spdylay
Priority: extra
Depends: libc-devel, libssl-devel, libz-devel, libxml2-devel, libevent-devel, libspdylay (>= 1.4.0-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: SPDY protocol implementation in C (development files)
Architecture: amd64
Section: devel
