Package: libattr
Version: 2.4.47-0
Source: attr
Priority: required
Depends: libc
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Extended attribute shared library
Architecture: amd64
Section: libs
