Package: gcc-go-runtime
Version: 6.2.0-1
Source: gcc
Priority: optional
Depends: libc, libgcc, libmpc, libmpfr, libgmp
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Go Language implementation (GCC runtime)
Architecture: amd64
Section: go
