Package: ruby
Version: 2.2.3-0
Source: ruby
Priority: optional
Depends: libc, libgmp
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Interpreter of object-oriented scripting language Ruby
Architecture: amd64
Section: ruby
