Package: ruby
Version: 2.3.2-1
Source: ruby
Priority: optional
Depends: libc, libgmp, libssl
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Interpreter of object-oriented scripting language Ruby
Architecture: amd64
Section: ruby
