Package: libexpat-devel
Version: 2.2.0-1
Source: expat
Priority: optional
Depends: libc-devel, libexpat (>= 2.2.0-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: XML parsing C library - development files
Architecture: amd64
Section: devel
