Package: gcc-go-devel
Version: 6.2.0-1
Source: gcc
Priority: optional
Depends: libc-devel, gcc-go-runtime (>= 6.2.0-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Go Language implementation (GCC-based compiler and development files)
Architecture: amd64
Section: go
