Package: x11-proto-devel
Version: 7.7-1
Priority: optional
Depends: libc, x11-util-macros
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 protocol headers
Architecture: amd64
Section: devel
