Package: libgpg-error-devel
Source: libgpg-error
Version: 1.22-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc-devel, libgpg-error (>= 1.22-1)
Description: library for common error values and messages in GnuPG components (headers)
Homepage: http://www.gnupg.org/related_software/libgpg-error/
Section: devel
Priority: standard
