Package: libudev-devel
Version: 224-0
Source: systemd
Priority: optional
Depends: libc-devel, libcap-devel, libattr-devel, libudev (>= 224-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: libudev shared library (development files)
Architecture: amd64
Section: devel
