Package: spdylay
Version: 1.4.0-1
Source: spdylay
Priority: extra
Depends: libc, libssl, libev, libz, libxml2, libevent, libevent-openssl, libspdylay (>= 1.4.0-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: SPDY protocol implementation in C (programs)
Architecture: amd64
Section: net
