Package: docbook-xml
Version: 4.5-0
Source: docbook-xml
Priority: optional
Depends: sgml-common, xml2-utils
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: standard XML documentation system for software and systems
Architecture: all
Section: text
