Package: libblkid-devel
Version: 2.27-0
Source: util-linux
Priority: optional
Depends: libc-devel, libuuid-devel, libblkid (>= 2.27-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: block device id library (development files)
Architecture: amd64
Section: devel
