Package: libpgtypes
Version: 9.6.1-1
Source: postgresql
Priority: optional
Depends: libc
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: object-relational SQL database (libpgtypes library)
Architecture: amd64
Section: libs
