Package: libgif
Version: 5.1.1-0
Source: giflib
Priority: optional
Depends: libc
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: library for GIF images (library)
Architecture: amd64
Section: libs
