Package: libx11-xcursor-devel
Version: 1.1.14-1
Source: libXcursor
Priority: optional
Depends: libc-devel, libx11-xrender-devel, libx11-xfixes-devel, libx11-devel, libx11-xcb-devel, libx11-xau-devel, libx11-xcursor (>= 1.1.14-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X cursor management library (development files)
Architecture: amd64
Section: devel
