Package: gperf
Version: 3.0.4-1
Source: gperf
Priority: optional
Depends: libc, libgcc, libstdcxx
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Perfect hash function generator
Architecture: amd64
Section: devel
