Package: maven
Version: 3.3.9-1
Source: maven
Priority: optional
Depends: libc, jdk
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Java software project management and comprehension tool
Architecture: all
Section: devel
