Package: cap-utils
Version: 2.24-0
Source: libcap
Priority: optional
Depends: libc, libcap (>= 2.24-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: POSIX 1003.1e capabilities (utilities)
Architecture: amd64
Section: utils
