Package: cap-utils
Version: 2.25-1
Source: libcap
Priority: optional
Depends: libc, libcap (>= 2.25-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: POSIX 1003.1e capabilities (utilities)
Architecture: amd64
Section: utils
