Package: haproxy
Version: 1.6.9-1
Source: haproxy
Priority: optional
Depends: libc, libz, libpcre, libssl
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: fast and reliable load balancing reverse proxy
Architecture: amd64
Section: net
