Package: libgif-devel
Version: 5.1.4-1
Source: giflib
Priority: optional
Depends: libc-devel, libgif (>= 5.1.4-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: library for GIF images (development files)
Architecture: amd64
Section: devel
