Package: gif-utils
Version: 5.1.4-1
Source: giflib
Priority: optional
Depends: libc, libgif (>= 5.1.4-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: library for GIF images (utilities)
Architecture: amd64
Section: utils
