Package: libx11-xpm
Version: 3.5.11-1
Source: libXpm
Priority: optional
Depends: libc, libx11, libx11-xcb, libx11-xau
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 pixmap library
Architecture: amd64
Section: libs
