Package: libjansson
Version: 2.9-1
Source: jansson
Priority: optional
Depends: libc
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: C library for encoding, decoding and manipulating JSON data
Architecture: amd64
Section: libs
