Package: libfreetype-devel
Version: 2.6-0
Source: freetype
Priority: optional
Depends: libc-devel, libbz2-devel, libpng-devel, libfreetype (>= 2.6-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: FreeType 2 font engine (development files)
Architecture: amd64
Section: devel
