Package: libx11-trans-devel
Version: 1.3.5-0
Priority: optional
Depends: libc-devel
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X transport library (development files)
Architecture: all
Section: devel
