Package: autoconf
Version: 2.69-1
Source: autoconf
Priority: optional
Depends: perl, m4
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: automatic configure script builder
Architecture: all
Section: devel
