Package: libreadline
Version: 7.0-1
Source: readline
Priority: important
Depends: libc, libncurses
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: GNU readline and history libraries
Architecture: amd64
Section: libs
