Package: libcap-devel
Version: 2.24-0
Source: libcap
Priority: optional 
Depends: libc-devel, libattr-devel, libcap (>= 2.24-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: POSIX 1003.1e capabilities (development files)
Architecture: amd64
Section: devel
