Package: erlang
Version: 18.2.1-0
Source: erlang
Priority: optional
Depends: libc, libz, libssl, libncurses
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Concurrent, real-time, distributed functional language
Architecture: amd64
Section: interpreters
