Package: xml2-utils
Version: 2.9.4-1
Source: libxml2
Priority: extra
Depends: libc, libxml2 (>= 2.9.4-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: GNOME XML library (utilities)
Architecture: amd64
Section: utils
