Package: nghttp2
Version: 1.3.4-0
Source: nghttp2
Priority: extra
Depends: libc, libgcc, libstdcxx, libjansson, libssl, libev, libxml2, libspdylay, libjemalloc, libnghttp2 (>= 1.3.4-0)
Recommends: python27
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: HTTP/2 protocol implementation in C (programs)
Architecture: amd64
Section: net
