Package: libx11-xscreensaver-devel
Version: 1.2.2-0
Source: libXScrnSaver
Priority: optional
Depends: libc-devel, libx11-xext-devel, libx11-devel, libx11-xcb-devel, libx11-xau-devel, libx11-xscreensaver (>= 1.2.2)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 Screen Saver library (development files)
Architecture: amd64
Section: devel
