Package: libevent-pthreads
Version: 2.0.22-0
Source: libevent
Priority: standard
Depends: libc, libevent-core (>= 2.0.22-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Asynchronous event notification library (pthreads)
Architecture: amd64
Section: libs
