Package: openssl
Source: openssl
Version: 1.0.2j-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libssl (>= 1.0.2j-1)
Description: Secure Sockets Layer toolkit - binaries
Section: apps
Priority: optional
