Package: bash
Version: 4.4.0-1
Source: bash
Priority: optional
Depends: libc, libncurses, libreadline, update-alternatives
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: GNU Bourne Again SHell
Architecture: amd64
Section: shells
