Package: libsmartcols-devel
Version: 2.29-1
Source: util-linux
Priority: optional
Depends: libc-devel, libsmartcols (>= 2.29-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: smart column output alignment library (development files)
Architecture: amd64
Section: devel
