Package: ncurses-utils
Version: 6.0-1
Source: ncurses
Priority: required
Depends: libc, ncurses-base (>= 6.0-1), libncurses (>= 6.0-1), update-alternatives
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: terminal-related programs
Architecture: amd64
Section: utils
