Package: libfdisk
Version: 2.29-1
Source: util-linux
Priority: required
Depends: libc, libblkid, libuuid
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: fdisk library
Architecture: amd64
Section: libs
