Package: libx11-fs
Version: 1.0.7-1
Source: libFS
Priority: optional
Depends: libc
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 Font Services library
Architecture: amd64
Section: libs
