Package: openjdk-jre8
Version: 1.8.0.102-2
Source: openjdk8
Priority: standard
Depends: libc, libbz2, libstdcxx, libgcc, libpng, libgif, libz, update-alternatives
Recommends: libalsa, libfreetype, libx11, libx11-xau, libx11-xext, libx11-xi, libx11-xrender, libx11-xtst, libx11-xcb
Provides: jre, jre8
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Open-source base for Oracle's Java(tm) JRE
Architecture: amd64
Section: java
