Package: libssl-devel
Source: openssl
Version: 1.0.2j-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc-devel, libz-devel, libssl (>= 1.0.2j-1)
Description: Secure Sockets Layer toolkit - headers and static libraries
Section: devel
Priority: optional
