Package: libnghttp2-devel
Version: 1.16.1-1
Source: nghttp2
Priority: extra
Depends: gcc, libc-devel, libjansson-devel, libssl-devel, libev-devel, libxml2-devel, libspdylay-devel, libjemalloc-devel, libnghttp2 (>= 1.16.1-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: HTTP/2 protocol implementation in C (development files)
Architecture: amd64
Section: devel
