Package: gpg-error
Source: libgpg-error
Version: 1.22-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc, libgpg-error (>= 1.22-1)
Description: GnuPG error values (binaries)
Homepage: http://www.gnupg.org/related_software/libgpg-error/
Section: apps
Priority: standard
