Package: postgresql-server
Version: 9.5.3-2
Source: postgresql
Priority: optional
Depends: postgresql-client (>= 9.5.3-2), libpq (>= 9.5.3-2), libpgtypes (>= 9.5.3-2), libecpg (>= 9.5.3-2), libxml2
Suggests: perl, python27
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: object-relational SQL database
Architecture: amd64
Section: database
