Package: libevent-extra
Version: 2.0.22-1
Source: libevent
Priority: standard
Depends: libc, libevent-core (>= 2.0.22-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Asynchronous event notification library (extra)
Architecture: amd64
Section: libs
