Package: libx11-xaw
Version: 1.0.13-1
Source: libXaw
Priority: optional
Depends: libc, libx11-xmu, libx11-xext, libx11-xt, libx11-sm, libx11-ice, libx11-xpm, libx11, libx11-xcb, libx11-xau
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 Athena Widget library
Architecture: amd64
Section: libs
