Package: rabbitmq-server
Version: 3.6.5-1
Source: rabbitmq-server
Priority: extra
Depends: libc, erlang
Recommends: python27
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: AMQP server written in Erlang
Architecture: amd64
Section: net
