Package: libfontconfig
Version: 2.12.1-1
Source: fontconfig
Priority: optional
Depends: libc, libfreetype, libxml2
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: generic font configuration library (runtime)
Architecture: amd64
Section: libs
