Package: libxml-parser-perl
Version: 2.44.1-1
Source: xml-parser
Priority: optional
Depends: libc, perl, libexpat
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Perl module for parsing XML files
Architecture: amd64
Section: perl
