Package: docbook-xsl
Version: 1.78.1-0
Source: docbook-xsl
Priority: optional
Depends: sgml-common, xml2-utils
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: stylesheets for processing DocBook XML to various output formats
Architecture: all
Section: text
