Package: postgresql-devel
Version: 10.1-1
Source: postgresql
Priority: optional
Depends: libc-devel, libssl-devel, libxml2-devel, libreadline-devel, libncurses-devel, postgresql-client (>= 10.1-1), libpq (>= 10.1-1), libpgtypes (>= 10.1-1), libecpg (>= 10.1-1)
Recommends: perl, python27-devel
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: object-relational SQL database (development files)
Architecture: amd64
Section: devel
