Package: libjemalloc
Version: 4.3.1-1
Source: jemalloc
Priority: extra
Depends: libc
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: general purpose malloc(3) implementation
Architecture: amd64
Section: libs
