Package: ncurses-base
Version: 6.0-1
Source: ncurses
Priority: required
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: basic terminal type definitions
Architecture: all
Section: misc
