Package: libx11-xcursor
Version: 1.1.14-0
Source: libXcursor
Priority: optional
Depends: libc, libx11-xrender, libx11-xfixes, libx11, libx11-xcb, libx11-xau
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X cursor management library
Architecture: amd64
Section: libs
