Package: libjemalloc-devel
Version: 4.3.1-1
Source: jemalloc
Priority: extra
Depends: libc-devel, libjemalloc (>= 4.3.1-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: general purpose malloc(3) implementation (development files)
Architecture: amd64
Section: devel
