Package: postgresql-client
Version: 9.5.3-0
Source: postgresql
Priority: optional
Depends: libpq (>= 9.5.3-0), libpgtypes (>= 9.5.3-0), libecpg (>= 9.5.3-0), libc, libssl, libreadline, libncurses
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: object-relational SQL database (client utilities)
Architecture: amd64
Section: database
