Package: libx11-xshmfence
Version: 1.2-1
Source: libxshmfence
Priority: optional
Depends: libc
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X shared memory fence library
Architecture: amd64
Section: libs
