Package: libspdylay
Version: 1.4.0-1
Source: spdylay
Priority: extra
Depends: libc, libssl, libz, libxml2, libevent-openssl
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: SPDY protocol implementation in C (libraries)
Architecture: amd64
Section: libs
