Package: libxml2-devel
Version: 2.9.2-0
Source: libxml2
Priority: extra
Depends: libc-devel, libxml2 (>= 2.9.2-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: GNOME XML library (headers)
Architecture: amd64
Section: devel
