Package: flex
Version: 2.6.0-1
Source: flex
Priority: optional
Depends: libc
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: fast lexical analyzer generator
Architecture: amd64
Section: devel
