Package: alsa-utils
Version: 1.0.29-0
Source: alsalib
Priority: extra
Depends: libc, libalsa (>= 1.0.29-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: utilities for ALSA applications
Architecture: amd64
Section: utils
