Package: fontconfig-utils
Version: 2.12.1-1
Source: fontconfig
Priority: optional
Depends: libc, libxml2, libfreetype, libfontconfig (>= 2.12.1-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: generic font configuration library (utilities)
Architecture: amd64
Section: utils
