Package: libgettext
Version: 0.19.8.1-2
Source: gettext
Priority: standard
Depends: libc, gettext-common (>= 0.19.8.1-2)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: GNU Internationalization (libraries)
Architecture: amd64
Section: libs
