Package: libx11-xext-devel
Version: 1.3.3-1
Source: libXext
Priority: optional
Depends: libc-devel, libx11-xcb-devel, libx11-xau-devel, libx11-devel, libx11-xext (>= 1.3.3-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 miscellaneous extension library (development files)
Architecture: amd64
Section: devel
