Package: libx11-xaw-devel
Version: 1.0.13-1
Source: libXaw
Priority: optional
Depends: libc-devel, libx11-xmu-devel, libx11-xext-devel, libx11-xt-devel, libx11-sm-devel, libx11-ice-devel, libx11-xpm-devel, libx11-devel, libx11-xcb-devel, libx11-xau-devel, libx11-xaw (>= 1.0.13-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 Athena Widget library (development files)
Architecture: amd64
Section: devel
