Package: cups
Version: 2.1.0-0
Source: cups
Priority: extra
Depends: libc, libz, libcups (>= 2.1.0-0), update-alternatives
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Common Unix Printing System (applications)
Architecture: amd64
Section: utils
