Package: cups
Version: 2.2.1-1
Source: cups
Priority: extra
Depends: libc, libz, libcups (>= 2.2.1-1), update-alternatives
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Common Unix Printing System (applications)
Architecture: amd64
Section: utils
