Package: libx11-xmu-devel
Version: 1.1.2-0
Source: libXmu
Priority: optional
Depends: libc-devel, libx11-xt-devel, libx11-sm-devel libx11-xext-devel, libx11-devel, libx11-xcb-devel, libx11-xau-devel, libx11-xmu (>= 1.1.2-0)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 miscellaneous utility library (development files)
Architecture: amd64
Section: devel
