Package: libx11-xrandr
Version: 1.5.1-1
Source: libXrandr
Priority: optional
Depends: libc, libx11-xext, libx11-xrender, libx11, libx11-xcb, libx11-xau
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: X11 RandR extension library
Architecture: amd64
Section: libs
