Package: libuuid-devel
Version: 2.29-1
Source: util-linux
Priority: optional
Depends: libc-devel, libuuid (>= 2.29-1)
Maintainer: Craig Condit <ccondit@randomcoder.org>
Description: Universally Unique ID library (development files)
Architecture: amd64
Section: devel
